<div class="jumbotron">
    <h1>Welcome to GitHub Pages</h1>
    <a class="btn btn-primary btn-lg" href="https://github.com/AC-CodeProd">View on GitHub</a>
</div>
<section class="row">
    <article  class="col-lg-4">
        <div class="well">
            <header>
                <h1>Memory game</h1>
            </header>
            <p>
            <img class="img-responsive" src="assets/img/screenshot/project/memory-game.png" alt="Memory game">
            </p>
            <p>
            <a class="btn btn-primary btn-lg" href="/project/memory-game" target="_blanck">View</a>
            </p>
        </div>
    </article>
    <article  class="col-lg-4">
        <div class="well">
            <header>
                <h1>Drawing kinetic</h1>
            </header>
            <p>
            <img class="img-responsive" src="assets/img/screenshot/project/drawing-kinetic.png" alt="Drawing kinetic">
            </p>
            <p>
            <a class="btn btn-primary btn-lg" href="/project/drawing-kinetic" target="_blanck">View</a>
            </p>
        </div>
    </article>
    <article  class="col-lg-4">
        <div class="well">
            <header>
                <h1>Remaining capital</h1>
            </header>
            <p>
            <img class="img-responsive" src="assets/img/screenshot/project/remaining-capital.png" alt="Remaining capital">
            </p>
            <p>
            <a class="btn btn-primary btn-lg" href="/project/remaining-capital" target="_blanck">View</a>
            </p>
        </div>
    </article>
    <article  class="col-lg-4">
        <div class="well">
            <header>
                <h1>Learn read hour</h1>

            </header>
            <p>
            <img class="img-responsive" src="assets/img/screenshot/project/learn-read-hour.png" alt="Learn read hour">
            </p>
            <p>
            <a class="btn btn-primary btn-lg" href="/project/learn-read-hour" target="_blanck">View</a>
            </p>
        </div>
    </article>
</section>